* {
    margin: 0 auto;
    box-sizing: border-box;

}

a {
text-decoration: none;
}


body {
font-family: 'Montserrat', sans-serif;
font-style: normal;
background-color:#E5E5E5;
}

.list-reset {
margin: 0;
padding: 0;
list-style-type: none;
}

.btn-reset {
border: none;
cursor: pointer;
padding: 0;
background-color: transparent;
}

.flex {
display: flex;
}

.main_hero {
max-width: 1280px;
width: 100%;
background-color: white;
}

.header {
min-height: 78px;
}

.nav_list {
padding: 25px 330px;
}

.header_links {
    color: #FF0000;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.7px;
}

.hero_container {
display: flex;
flex-direction: column;
}

.hero_img {
margin: 0;
padding: 0;
width: 100%;
padding-bottom: 49px;    
}

.hero_description {
/* display: flex;
flex-direction: column; 
justify-content: space-around; */
max-width: 1145px;
text-align: center;
color: #373737;
}

.hero_description_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.hero_description_text {
font-style: normal;
/* font-weight: 400; */
font-size: 16px;
line-height: 26px;
letter-spacing: 2.1px;
margin-bottom: 66px; 
}
.hero_text_upper_item {
padding-bottom: 28px;
}

.hero_btn {
margin-bottom: 82px;
}

.hero_btn_item {
background: #FF0000;;
color:#FFFFFF;;
border-radius: 4px;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
width: 191px;
height: 51px;
}

.footer_description {

min-width: 462px;
text-align: right;
}

.footer_item_text {
display: inline-block;
padding-right: 105px;
padding-bottom: 29px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;    
}